<% include partials/header %>



<div class="resultado">
     
     
     
      <label id="labresult">Pontos Gerados:</label>
      <input id="ponto" readonly name="balanca[baltotalpontos]" class="asd"  value="0">

   <input id="flexpeso" type="hidden">
</div>
  



<div id="sidebar">    
  <% produto.forEach(produto => {%>
  <div class="cartao">
    <img class="cartao-img" src="<%= produto.imagemURL%>" alt="Card image cap">
      <ul class="list-group">
      <li class="itli text-center" style="font-size: .8rem"><%= produto.nome%></li>
      <li class="itli text-center" style="font-size: .8rem"><%= produto.peso%>KG</li>
      <div class="d-flex justify-content-center">
        <button class="btn botao-menor" onclick="addelement('<%= produto.imagemURL%>',<%= produto.peso%>)">ADICIONAR</button>
      </div>
      
    </ul>
  </div>
  <%}); %>
</div>


<div id="elements">

</div>

<div id="balanca">
<div id="pesagem"></div>
<div id="suporte">-</div>
<div id="suporte">-</div>
<div id="valor">
<div id="flex">0.00Kg </div>
</div>
<div id="pe"></div>
<div id="pe"></div>
</div>

<%include partials/footer %>