<% include ../partials/header%>
        <div class="col-sm">
                <div class="card" style="border-radius: 0;">
                    <div class="card-body">
                        <form action="/comprovantes" method="post">
                            <div class="d-flex justify-content-center">
                                <img style="height: 150px" src="../assets/plant.svg">
                            </div>
                            <p class="text-center" style="font-size: 1.7rem; 
                                font-weight: 600;
                                font-family: Arial, Helvetica, sans-serif; 
                                background: -webkit-linear-gradient( -75deg, #5c8635 5%, rgba(58,73,89,1) 95%);
                                background-clip: text;
                                -webkit-text-fill-color: transparent;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;">E-DISCARD</p>
                            <% usuario.pessoas.forEach(pessoa => {%>    
                            <div class="form-group">
                                <label>Nome:</label>
                                <input type="text" class="form-control" readonly value="<%=pessoa.pesnome%>">
                            </div>
                            <div class="form-group">
                                <label>CPF:</label>
                                <input type="text" class="form-control" readonly value="<%= pessoa.pescpf%>">
                            </div>
                            <div class="form-group">
                                <label>E-mail:</label>
                                <input type="text" class="form-control" name="username" readonly value="<%= usuario.username%>">
                            </div>
                            <div class="form-group">
                                <label>Pontos:</label>
                                <input type="text" class="form-control" readonly value="<%= usuario.usupontos%>">
                            </div>
                            <div class="form-group">
                                <p>Opções de desconto:</p>
                            <% var totalValordesconto = 0; %>
                            <% usuario.comprovantes.forEach(comp => {%>
                                <% totalValordesconto += comp.comvalordesconto%>
                            <%}); %>    
                                <%if (usuario.usupontos >= 100 && totalValordesconto < 0.2) {%>
                                <% var desconto = 0.05; %>
                                <label>5%</label>
                                <input type="radio" class="form-control" name="desconto" value="<%=desconto%>">
                                <%}%>
                                <%if (usuario.usupontos >= 200 && totalValordesconto <0.15) {%>
                                <% var desconto = 0.1; %>
                                <label>10%</label>
                                <input type="radio" class="form-control" name="desconto" value="<%=desconto%>">
                                <%}%>
                                <%if (usuario.usupontos >=300 && totalValordesconto <0.1) {%>
                                <% var desconto = 0.15; %>
                                <label>15%</label>
                                <input type="radio" class="form-control" name="desconto" value="<%=desconto%>">
                                <%}%>
                                <%if (usuario.usupontos >= 400 && totalValordesconto <0.05) {%>
                                <% var desconto = 0.2; %>
                                <label>20%</label>
                                <input type="radio" class="form-control" name="desconto" value="<%=desconto%>">
                                <%}%>       
                            </div>
                            <%}); %>
                            <button class="btn botao btn-block">Gerar comprovante</button>    
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>

<% include ../partials/footer%>
